@mixin title {
    font-family: Shabnam;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $title-color;
}

@mixin text {
    width: 288px;
    height: 113px;
    font-family: Shabnam;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

@mixin whiteText {
    width: 141px;
    height: 31px;
    font-family: Shabnam;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

@mixin camel {
    width: 72px;
    height: 72px;
    background-color: $title-color;
    border-radius: 100%;
}

@mixin flexRow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin waves {
    position: absolute;
    right: 0px;
    width: 100vw;
    height: 420px;
    background-image: url(../images/011_bg_wave.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0px !important;
    overflow: hidden;
}

@mixin circle {
    width: 72px;
    height: 72px;
    border-style: solid;
    border-width: 1px !important;
    border-left: solid #00a680;
    border-right: solid #00f4bd;
    border-bottom: solid #00a680;
    border-top: solid #00f4bd;
    border-image-slice: 1px;
    border-radius: 100%;
    background-color: #ffffff;
    @include flexCenter;
    z-index: 5;
    margin-bottom: 52px;
}

@mixin optionPic {
    position: relative !important;
    width: 221.9px;
    height: 156.6px;
    // background-repeat: no-repeat;
    border-radius: 10px;
    margin: 0px 3.6px;
    // padding-left: 15.2px;
}